In [1]:
import numpy as np
import re
import pandas

from utils import save_answ, logging

In [2]:
data = pandas.read_csv ('../titanic.csv')
print data.head(10)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

### Task №1

In [3]:
res1 = data['Sex'].value_counts()
save_answ(number=1, answer=("%i %i" % (res1['male'], res1['female'])))

Rewrite 'answers/1_answ.txt'? [Y/N]Y

2017-12-10 00:42:58,986 INFO: root: Saved '577 314' to 'answers/1_answ.txt'

### Task №2

In [4]:
s = data['Survived'].value_counts()
p_s = 100. * s[1] / len(data)
save_answ(number=2, answer=("%.2f" % p_s) )

Rewrite 'answers/2_answ.txt'? [Y/N]Y

2017-12-10 00:43:04,691 INFO: root: Saved '38.38' to 'answers/2_answ.txt'

### Task №3

In [5]:
pclasses =  ( data['Pclass'].value_counts() / len(data) ) * 100.
#print pclasses[1]
save_answ(number=3, answer=("%.2f" % pclasses[1]) )

Rewrite 'answers/3_answ.txt'? [Y/N]Y

2017-12-10 00:43:10,311 INFO: root: Saved '24.24' to 'answers/3_answ.txt'

### Task №4

In [6]:
age_mean   = data['Age'].mean()
age_median = data['Age'].median()
save_answ(number=4, answer=("%.2f %.2f" % (age_mean, age_median)))

Rewrite 'answers/4_answ.txt'? [Y/N]Y

2017-12-10 00:43:14,061 INFO: root: Saved '29.70 28.00' to 'answers/4_answ.txt'

### Task №5

In [8]:
corr = data.corr(method='pearson')['SibSp']['Parch']
save_answ(number=5, answer=("%.2f" % corr) )

Rewrite 'answers/5_answ.txt'? [Y/N]Y

2017-12-10 00:43:22,654 INFO: root: Saved '0.41' to 'answers/5_answ.txt'

### Task №6

In [7]:
# NOT CORRECT! 
def first_name_from_full_name (name):
    return name.split(',')[1].split('.')[1].split()[0]

# from https://github.com/jivoi/junk/blob/master/coursera_ml_yandex/w1/w1_a1
def extract_first_name(name):
    """
    Функция извлечения first name from name
    :param name: name
    :return: first name
    """
    # первое слово в скобках
    m = re.search(".*\\((.*)\\).*", name)
    if m is not None:
        return m.group(1).split(" ")[0]
    # первое слово после Mrs. or Miss. or else
    m1 = re.search(".*\\. ([A-Za-z]*)", name)
    return m1.group(1)

female = data.loc[data['Sex'] == 'female']['Name'].map(extract_first_name)
most_popular_female_name = female.value_counts().keys()[0]
save_answ(number=6, answer=("%s" % most_popular_female_name) )

Rewrite 'answers/6_answ.txt'? [Y/N]Y

2017-12-10 00:43:18,634 INFO: root: Saved 'Anna' to 'answers/6_answ.txt'